footer {
<<<<<<< HEAD
    width: 100%;
    height: 60px;
    bottom: 0;
    position: relative;
    flex: none;
    border-top: 1px solid #CCCCCC;
    background-color: white;
=======
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center;
    vertical-align: middle;
>>>>>>> 133284b6e32bfcc5199ad86aa1c5ef534e3e1cce
}
